<app-header />

<div class="bg-base-300 h-2 my-2"></div>

<div class="flex justify-center px-4">
  <div class="overflow-x-auto">
    <ul class="menu menu-horizontal min-w-max gap-2">
      @for (type of categories; track type) {
      <li>
        <a [class]="(deliverySettings.category == type ? 'menu-active' : '')" (click)="onSelectCategory(type)">
          @if (type.icon) {
          <fa-icon [icon]="type.icon" class="text-2xl"></fa-icon>
          } @else {
          <fa-icon icon="circle-dot" class="text-2xl"></fa-icon>
          }
          <span>{{ type.name }}</span>
          @if (isActive(type)) {
          <span class="status status-warning animate-bounce"></span>
          }
        </a>
      </li>
      }
    </ul>
  </div>
</div>

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex flex-col px-4 items-center">
    <div class="flex justify-start items-center gap-2 overflow-x-auto w-full p-2">
      <button class="btn btn-sm btn-circle lg:hidden" (click)="openDialog()">
        <fa-icon icon="bars"></fa-icon>
      </button>

      <select class="select select-sm min-w-28">
        <option selected class="font-bold">All Prices</option>
        <option>Under $50</option>
        <option>Under $75</option>
        <option>Over $100</option>
      </select>

      <select class="select select-sm min-w-28">
        <option selected class="font-bold">Show All Categories</option>
        @for (category of deliverySettings.category.subcats; track category) {
        <option [disabled]="!(category.items || category.customizer)">
          {{ category.name }} {{ (!category.customizer && category.items) ? ('(' + category.items.length + ')') : '' }}
        </option>
        }
      </select>

      <button class="btn btn-sm btn-soft">Reset Filters</button>
    </div>
    <br />

    <div class="w-full">
      <!-- Page content here -->
      @for (subcat of deliverySettings.category.subcats; track subcat) {
      <item-list [category]="subcat"></item-list>
      }
    </div>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu min-h-full w-86 text-base-content text-lg">
      <!-- Sidebar content here -->
      <div class="menu-title">
        <div class="flex items-center gap-4">
          @if (deliverySettings.category.icon) {
          <fa-icon [icon]="deliverySettings.category.icon" class="text-2xl"></fa-icon>
          } @else {
          <app-logo firstName="Bake" lastName="Sale" [style]="1" />
          }

          <h1 class="text-5xl">{{ deliverySettings.category.name }}</h1>
        </div>
      </div>

      @for (cat of deliverySettings.category.subcats; track cat)
      {
      <li (click)="focusCategory(cat)" [class]="(!cat.customizer && !cat.items) ? 'menu-disabled' : ''">
        @if (cat.subcats && cat.subcats.length > 0) {
        <details open>
          <summary>
            <span class="flex items-center gap-2">
              <a [class]="isFocused(cat) ? 'font-bold text-2xl' : 'font-light text-lg'">{{ cat.name }}</a>
              @if (isActive(cat)) {
              <span class="status status-lg status-warning animate-bounce"></span>
              }
            </span>
          </summary>

          <ul>
            @for (subcat of cat.subcats; track subcat) {
            <li (click)="focusCategory(subcat)" [class]="(!subcat.customizer && !subcat.items) ? 'menu-disabled' : ''">
              <span class="flex items-center gap-2">
                <a [class]="isFocused(subcat) ? 'font-bold text-2xl' : 'font-light text-lg'">{{ subcat.name }}</a>
                @if (isActive(subcat)) {
                <span class="status status-warning status-lg animate-bounce"></span>
                }
              </span>
            </li>
            }
          </ul>
        </details>
        }
        @else {
        <span class="flex items-center gap-2">
          <a [class]="isFocused(cat) ? 'font-bold text-2xl' : 'font-light text-lg'">{{ cat.name }}</a>
          @if (isActive(cat)) {
          <span class="status status-lg status-warning animate-bounce"></span>
          }
        </span>
        }
      </li>
      }
    </ul>
  </div>
</div>