<div [class]="'flex flex-col ' + (value.author ? 'mx-1' : '') + ' ' + cardSize.width">
  <figure>
    <div class="indicator w-full">
      <img [class]="'w-full rounded-box link ' + cardSize.height" [src]="getImage(value)"
        [routerLink]="['/item', {category: value.parent, item: value.name}]" />

      <div class="indicator-item indicator-top indicator-end" style="--indicator-x: -0.5em; --indicator-y: 0.5em;">
        <!-- Add button -->
        @if (itemCount > 0) {
        <button class="btn btn-neutral btn-circle shadow shadow-lg tooltip tooltip-bottom" data-tip="Change order"
          (click)="openItem()">
          <p class="text-lg font-bold">{{ amount }}</p>
        </button>
        }
        @else {
        <button class="btn btn-circle shadow shadow-lg tooltip tooltip-bottom" data-tip="Add to cart"
          [routerLink]="['/item', {category: value.parent, item: value.name}]">
          <fa-icon icon="plus" class="text-xl font-bold"></fa-icon>
        </button>
        }
      </div>

      <div class="indicator-item indicator-start" style="--indicator-x: -0.5em; --indicator-y: 1.25em;">
        <div class="flex flex-col gap-1">
          @if (value.company) {
          <span class="bg-neutral text-xs lg:text-sm text-white font-bold font-serif w-fit px-1">
            {{ value.company }}
          </span>
          }

          @if (value.price.buyOneGetOne || (!value.price.buyOneGetOne && value.price.label)) {
          <span [class]="'badge badge-sm lg:badge-md p-1 font-bold text-white ' + ('badge-' + (value.price.buyOneGetOne ? 'error' : (value.price.style ? value.price.style : 'warning')))">
            @if (value.price.buyOneGetOne) {
            Buy 1, Get 1
            } @else {
            {{ value.price.label }}
            }
          </span>
          }
        </div>
      </div>

      @if (value.author) {
      <div class="indicator-item indicator-bottom indicator-start" style="--indicator-x: -0.75em; --indicator-y: 0.75em;">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-xl btn-circle avatar">
            <div [class]="'rounded-full shadow shadow-xl ring-offset-base-100 ring-2 ' + (value.isChef ? 'ring-neutral' : 'ring-base-200')">
              <img src="https://img.daisyui.com/images/profile/demo/1@94.webp" />
            </div>
          </div>

          <div tabindex="0" class="dropdown-content z-2 pt-2 shadow-xl">
            <div tabindex="0" class="rounded-box bg-neutral text-white text-wrap p-1 px-2 max-w-32">
              <p>
                Created by {{ value.isChef ? 'Chef' : '' }} <a class="link font-bold">{{ value.author }}</a>
              </p>              
            </div>
          </div>
        </div>        
      </div>
      }
    </div>
  </figure>

  <div
    [class]="'flex flex-col w-full ' + (value.author ? 'pt-2' : '') + ' ' + ((value.stockAmount != undefined && value.stockAmount == 0) ? 'text-gray-500' : '')">
    <!-- Name -->
    <a class="flex gap-2 items-center link text-lg font-semibold w-fit" style="text-decoration: none;"
      [routerLink]="['/item', {category: value.parent, item: value.name}]">
      {{ value.name }}
      @if (value.notify) {
      <span class="status status-warning status-lg animate-bounce"></span>
      }
    </a>

    <!-- warning -->
    @if (value.stockAmount != undefined) {
    @if (value.stockAmount == 0) {
    <span class="badge-xs badge-error badge text-white">out of stock</span>
    } @else if (value.stockAmount < 5) { 
    <span class="text-xs text-error">only {{ value.stockAmount }} left</span>
    }
    }

    <!-- Price -->
    <item-price-tag [value]="value" size="lg"></item-price-tag>

    <!-- Label -->
    @if (value.label) {
    <span class="font-mono text-neutral-500 text-sm px-2 pb-2 whitespace-pre-line">{{ value.label }}</span>
    }
  </div>
</div>