<div class="bg-base-200">
  <div mat-dialog-title>
    <div class="flex justify-between items-center gap-2">      
      @if (isAnExistingAddress) {
      <h1 class="text-4xl font-bold">Edit Address</h1>
      }
      @else {
      <h1 class="text-4xl font-bold">Add an Address</h1>
      }
      
      <div class="flex flex-col items-center">
        <button class="btn text-lg tooltip tooltip-left" data-tip="Mark Favourite" (click)="address.isFavourite=!address.isFavourite">
          @if (address.isFavourite) {
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          } @else {
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          }
        </button>

        @if (address.isFavourite) {
        <p class="label text-xs">Favourite</p>
        }
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <google-map height="32vh" width="full" [center]="mapCenter" [zoom]="mapZoom">
      <map-marker [position]="markerPosition" [options]="markerOptions" />
    </google-map>
    <br />

    <h1>Lookup Address:</h1>
    <maps-autocomplete [searchQuery]="searchQuery" (select)="onAutoCompleteSelect($event)"
      (resultChange)="onAutoCompleteChange()"></maps-autocomplete>
    <br />

    @if (showAddressInfo || isAnExistingAddress) {
    <h1 class="fieldset-legend text-lg">Address Info:</h1>
    
    <fieldset class="fieldset w-full">
      <p class="font-medium text-sm">Address line:</p>

      @let AddressError = getError(errorTypes.AddressLine);

      <input type="search" placeholder="Enter Address"
        [class]="'input input-bordered placeholder-gray-350 w-full ' + (address.addressLine ? 'outline' : '') + ' ' + (AddressError ? 'outline outline-error' : '')"
        [(ngModel)]="address.addressLine" (input)="clearError(errorTypes.AddressLine)" />

      @if (AddressError != undefined) {
      <p class="font-mono text-sm text-error pb-2">{{ AddressError }}</p>
      }
    </fieldset>

    <fieldset class="fieldset w-full">
      <p class="font-medium text-sm">City:</p>

      @let CityError = getError(errorTypes.City);

      <input type="search" placeholder="Enter City"
        [class]="'input input-bordered placeholder-gray-350 w-full ' + (address.city ? 'outline' : '') + ' ' + (CityError ? 'outline outline-error' : '')"
        [(ngModel)]="address.city" (input)="clearError(errorTypes.City)" />

      @if (CityError != undefined) {
      <p class="font-mono text-sm text-error pb-2">{{ CityError }}</p>
      }
    </fieldset>

    <div class="flex gap-2">
      <fieldset class="fieldset w-full">
        <p class="font-medium text-sm">Province:</p>

        <select class="select w-full outline" [(ngModel)]="address.province">
          @for (entry of provinceList; track $index) {
          <option [ngValue]="entry">{{ entry }}</option>
          }
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <p class="font-medium text-sm">Postal Code:</p>

        @let PostalCodeError = getError(errorTypes.PostalCode);

        <input type="search" placeholder="Enter Postal Code"
          [class]="'input input-bordered placeholder-gray-350 w-full ' + (address.postal ? 'outline' : '') + ' ' + (PostalCodeError ? 'outline outline-error' : '')"
          [(ngModel)]="address.postal" (input)="clearError(errorTypes.PostalCode)" />

        @if (PostalCodeError != undefined) {
        <p class="font-mono text-sm text-error pb-2">{{ PostalCodeError }}</p>
        }
      </fieldset>
    </div>
    <br />

    <fieldset class="fieldset">
      <legend class="fieldset-legend text-lg">Building Type:</legend>

      <select class="select w-full outline" [(ngModel)]="address.buildingType">
        @for (entry of buildingTypes; track $index) {
        <option [value]="entry">{{ entry }}</option>
        }
      </select>
    </fieldset>

    <fieldset class="fieldset w-full">
      <p class="fieldset-legend text-lg justify-start">Apt / Suite / Floor:</p>

      @let AptError = getError(errorTypes.Apt);

      <input type="search" placeholder="Enter Apt./Suite/Floor info"
        [class]="'input input-bordered placeholder-gray-350 w-full ' + (address.apt ? 'outline' : '') + ' ' + (AptError ? 'outline outline-error' : '')"
        [(ngModel)]="address.apt" (input)="clearError(errorTypes.Apt)" />

      @if (AptError != undefined) {
      <p class="font-mono text-sm text-error pb-2">{{ AptError }}</p>
      }
      <p class="label justify-end w-full">Optional</p>
    </fieldset>

    <fieldset class="fieldset w-full">
      <legend class="fieldset-legend text-lg">Label:</legend>

      @let LabelError = getError(errorTypes.Label);

      <input type="search" placeholder="e.g. Home"
        [class]="'input input-lg rounded-box input-bordered placeholder-gray-350 w-full ' + (address.label ? 'outline' : '') + ' ' + (LabelError ? 'outline outline-error' : '')"
        [(ngModel)]="address.label" (input)="checkLabelForErrors()" />

      @if (LabelError != undefined) {
      <p class="justify-end w-full font-mono text-sm text-error">{{ LabelError }}</p>
      }
    </fieldset>
    }
  </div>

  <div mat-dialog-actions>
    <div class="flex justify-between w-full">
      <div class="flex gap-2">
        @if (isAnExistingAddress) {
        <button class="btn btn-neutral" (click)="saveAddress()">
          Save
        </button>
        <button class="btn bg-base-100 text-error" (click)="deleteAddress(address.label)">
          Delete
        </button>
        }
        @else {
        @if (showAddressInfo) {
        <button class="btn btn-neutral" (click)="saveAddress()">
          Add Address
        </button>
        }
        @else {
        <button class="btn btn-neutral" (click)="showAddressInfo = true;">
          Enter Address <fa-icon icon="pencil"></fa-icon>
        </button>
        }
        }
      </div>

      <button class="btn btn-soft" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>