<div class="bg-base-200">
  <div mat-dialog-title>
    @if (isValidAddress) {
    <h1 class="text-4xl font-bold">Edit Address</h1>
    }
    @else {
    <h1 class="text-4xl font-bold">Add an Address</h1>
    }
  </div>

  <div mat-dialog-content class="px-1">
    <div class="skeleton w-full h-25"></div>
    <br />

    <h1>Lookup Address:</h1>
    <div class="flex justify-between gap-2 items-center">
      <input type="search" class="input input-bordered placeholder-gray-350 w-full" placeholder="Search an address" [(ngModel)]="lookupAddress" />
      <div class="tooltip tooltip-left" data-tip="Use Current location">
        <button class="btn btn-neutral" (click)="useCurrentLocation()">
          <fa-icon icon="location-dot"></fa-icon>
        </button>
      </div>
    </div>
    @if (error(errorTypes.LookupAddress)) {
    <div class="flex gap-1 p-1">
      <fa-icon class="text-error text-sm" icon="exclamation-circle"></fa-icon>
      <p class="font-mono text-sm text-error pb-2">{{ error(errorTypes.LookupAddress)?.message }}</p>
    </div>
    }
    <br />

    @if (showAddressInfo || isValidAddress) {
    <fieldset class="fieldset w-full">
      <p class="fieldset-legend text-lg">Address line:</p>

      @if (error(errorTypes.AddressLine)) {
      <input type="search" placeholder="Enter Address" class="input placeholder-gray-350 outline outline-error w-full"
        [(ngModel)]="address.addressLine" (change)="clearError(errorTypes.AddressLine)" />
      <p class="font-mono text-sm text-error pb-2">{{ error(errorTypes.AddressLine)?.message }}</p>
      }
      @else {
      <input type="search" placeholder="Enter Address" class="input placeholder-gray-350 w-full"
        [(ngModel)]="address.addressLine" />
      }
    </fieldset>

    <fieldset class="fieldset w-full">
      <p class="fieldset-legend text-lg">City:</p>

      @if (error(errorTypes.City)) {
      <input type="search" placeholder="Enter City" class="input placeholder-gray-350 outline outline-error w-full"
        [(ngModel)]="address.city" (change)="clearError(errorTypes.City)" />
      <p class="font-mono text-sm text-error pb-2">{{ error(errorTypes.City)?.message }}</p>
      }
      @else {
      <input type="search" placeholder="Enter City" class="input placeholder-gray-350 w-full"
        [(ngModel)]="address.city" />
      }
    </fieldset>

    <div class="flex gap-2 px-1">
      <fieldset class="fieldset w-full">
        <p class="fieldset-legend text-lg">Province:</p>

        <select class="select w-full" [(ngModel)]="address.province">
          @for (entry of provinceList; track entry) {
          <option [ngValue]="entry">{{ entry }}</option>
          }
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <p class="fieldset-legend text-lg">Postal Code:</p>

        @if (error(errorTypes.PostalCode)) {
        <input type="search" placeholder="Postal Code" class="input placeholder-gray-350 outline outline-error w-full"
          [(ngModel)]="address.postal" (change)="clearError(errorTypes.PostalCode)" />
        <p class="font-mono text-sm text-error pb-2">{{ error(errorTypes.PostalCode)?.message }}</p>
        }
        @else {
        <input type="search" placeholder="Postal Code" class="input placeholder-gray-350 w-full"
          [(ngModel)]="address.postal" />
        }
      </fieldset>
    </div>

    <fieldset class="fieldset w-full">
      <p class="fieldset-legend text-lg justify-start">Apt / Suite / Floor:</p>

      @if (error(errorTypes.Apt)) {
      <input type="search" maxlength="5" placeholder="e.g. 1408"
        class="input placeholder-gray-350 outline outline-error w-full" [(ngModel)]="address.apt"
        (change)="clearError(errorTypes.Apt)" />
      <p class="font-mono text-sm text-error pb-2">{{ error(errorTypes.Apt)?.message }}</p>
      }
      @else {
      <input type="search" maxlength="5" placeholder="e.g. 1408" class="input placeholder-gray-350 w-full"
        [(ngModel)]="address.apt" />
      }
      <p class="label justify-end w-full">Optional</p>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend text-lg">Building Type:</legend>

      <select class="select w-full" [(ngModel)]="address.buildingType">
        @for (entry of buildingTypes; track entry) {
        <option [value]="entry">{{ entry }}</option>
        }
      </select>
    </fieldset>

    <fieldset class="fieldset w-full">
      <legend class="fieldset-legend text-lg">Label:</legend>

      <div class="join">
        @if (error(errorTypes.Label)) {
        <input type="search" placeholder="e.g. Home" class="input placeholder-gray-350 outline outline-error w-full join-item"
          [(ngModel)]="address.label" (change)="clearError(errorTypes.Label)" />
        }
        @else {
        <input type="search" placeholder="e.g. Home" class="input placeholder-gray-350 w-full join-item"
          [(ngModel)]="address.label" />
        }

        <button class="btn text-lg tooltip" [attr.data-tip]="address.isFavourite ? 'Favourite' : 'Not Favourite'" (click)="address.isFavourite=!address.isFavourite">
          @if (address.isFavourite) {
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          } @else {
          <fa-icon [icon]="['far', 'star']"></fa-icon>
          }
        </button>
      </div>

      @if (error(errorTypes.Label)) {
      <p class="justify-end w-full font-mono text-sm text-error">{{ error(errorTypes.Label)?.message }}</p>
      } @else if (address.isFavourite) {
      <p class="label justify-end w-full">Marked as Favourite</p>
      }
    </fieldset>
    }
  </div>

  <div mat-dialog-actions>
    <div class="flex justify-between w-full">
      <div class="flex gap-2">
        @if (isValidAddress) {
        <button class="btn btn-neutral" (click)="saveAddress()">
          Save
        </button>
        <button class="btn bg-base-100 text-error" (click)="deleteAddress(address.label)">
          Delete
        </button>
        }
        @else {
        @if (showAddressInfo) {
        <button class="btn btn-neutral" (click)="saveAddress()">
          Add Address
        </button>
        }
        @else {
        <button class="btn btn-neutral" (click)="showAddressInfo = true;">
          Enter Address <fa-icon icon="pencil"></fa-icon>
        </button>
        }
        }
      </div>

      <button class="btn btn-soft" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>