<div class="navbar">
  <div class="flex-none">
    <label [for]="appDrawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
      <fa-icon class="text-xl" icon="bars"></fa-icon>
    </label>
  </div>

  <div class="px-2 flex-1">
    <div class="flex justify-between items-center gap-2">
      <div class="flex items-center gap-2">
        <app-logo firstName="Bake" lastName="Sale" (click)="onClickHome()" />

        <delivery-switch class="px-4 hidden lg:block" />

        <div class="dropdown dropdown-bottom dropdown-start z-50 hidden lg:block">
          <div tabindex="0" role="button" class="link px-4 py-2" style="text-decoration: none;">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <fa-icon class="text-xl rounded-full" icon="location-dot"></fa-icon>

                <div class="flex flex-col">
                  @if (deliverySettings.address) {
                  <p class="font-bold">{{ deliverySettings.address.addressLine }}</p>
                  @if (deliverySettings.timeslot) {
                  <p class="text-xs">{{ deliveryMode?.label }} Time: <b>{{ deliverySettings.timeslot.label }}</b></p>
                  }
                  }
                  @else {
                  <p class="font-medium">Enter Address</p>
                  }
                </div>
              </div>

              <fa-icon icon="angle-down" class="pl-5"></fa-icon>
            </div>
          </div>

          <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-1 w-100 p-2 shadow-2xl border border-base-300">
            <address-book [timeslot]="true" />
          </ul>
        </div>
      </div>

      <search-bar class="hidden lg:block" />

      <div class="flex gap-2 items-center">
        @if (user.userRole != userRole.Guest) {
        <button class="btn btn-square btn-ghost text-2xl">
          <div class="indicator">
            <p class="indicator-item badge badge-xs badge-warning rounded-full">
              <b>2</b>
            </p>

            <fa-icon icon="bell"></fa-icon>
          </div>
        </button>
        }

        <label [for]="checkoutDrawer" aria-label="open sidebar" class="btn btn-square btn-ghost text-2xl">
          <div class="indicator">
            @if (numItems > 0) {
            <p class="indicator-item badge badge-xs badge-warning rounded-full">
              <b>{{ numItems }}</b>
            </p>
            }
            <fa-icon icon="shopping-cart"></fa-icon>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="px-4 lg:hidden">
  <div class="flex justify-between items-center pb-2">
    <div class="flex-1">
      <a class="link flex items-center justify-between w-fit" style="text-decoration: none;" (click)="openDialog()">
        <div class="flex items-center gap-2">
          <fa-icon class="text-xl rounded-full" icon="location-dot"></fa-icon>

          <div class="flex flex-col">
            @if (deliverySettings.address) {
            <p class="font-bold">{{ deliverySettings.address.addressLine }}</p>
            @if (deliverySettings.timeslot) {
            <p class="text-xs">{{ deliveryMode?.label }} Time: <b>{{ deliverySettings.timeslot.label }}</b></p>
            }
            }
            @else {
            <p class="font-medium">Enter Address</p>
            }
          </div>
        </div>

        <fa-icon icon="angle-down" class="pl-2"></fa-icon>       
      </a>
    </div>

    <delivery-switch />
  </div>

  <search-bar />
</div>