<div class="navbar">
  <div class="flex-none">
    <label [for]="appDrawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
  </div>

  <div class="px-2 flex-1">
    <div class="flex justify-between items-center gap-2">
      <div class="flex items-center gap-2">
        <app-logo firstName="Bake" lastName="Sale" (click)="onClickHome()" />

        <delivery-switch class="hidden lg:block" />

        <div class="dropdown dropdown-bottom dropdown-start z-50 py-2 hidden lg:block">
          <div tabindex="0" role="button" class="link px-4 py-2" style="text-decoration: none;">
            <div class="flex items-center justify-between">
              @if (deliverySettings.address) {
              <div class="flex text-left items-center">
                <fa-icon class="text-xl rounded-full mr-4" icon="location-dot"></fa-icon>

                <div class="flex flex-col text-left">
                  <p class="text-lg font-medium">{{ deliverySettings.address.addressLine }}</p>
                  @if (deliveryMode && deliverySettings.timeslot) {
                  <p class="text-xs font-thin">{{ deliveryMode.label }} Time: <b>{{ deliverySettings.timeslot.label
                      }}</b></p>
                  }
                </div>
              </div>

              <fa-icon icon="angle-down" class="pl-5"></fa-icon>
              }
              @else {
              <div class="flex text-left">
                <fa-icon class="text-xl rounded-full mr-4" icon="location-dot"></fa-icon>
                <p class="text-lg font-medium">Enter Address</p>
              </div>

              <fa-icon icon="angle-down" class="pl-5"></fa-icon>
              }
            </div>
          </div>

          <ul tabindex="0" class="dropdown-content menu bg-base-300 rounded-box z-1 w-100 p-2 shadow-2xl">
            <address-book [timeslot]="true" />
          </ul>
        </div>
      </div>

      <search-bar class="hidden lg:block" />

      <div class="flex gap-2 items-center">
        @if (user.userRole != userRole.Guest) {
        <div class="dropdown dropdown-end">
          <button class="link font-bold flex gap-1 items-center" tabindex="0" role="button"
            style="text-decoration: none;">
            <fa-icon class="text-warning" icon="coins"></fa-icon>
            <p class="text-lg">{{ user.points ? user.points : 0 }}</p>
          </button>

          <div tabindex="0" class="card card-sm dropdown-content z-1 w-64 shadow-xl">
            <div tabindex="0" class="card-body text-wrap bg-neutral text-white rounded-box">
              <div class="flex justify-between">
                <h1 class="card-title">BakeSale Points</h1>
                <h2 class="card-title"><fa-icon class="text-warning" icon="coins"></fa-icon> {{ user.points ?
                  user.points : 0 }}</h2>
              </div>
              <p>You can redeem your points and use them at checkout for discounts or other BakeSale promotions (e.g.
                Custom cakes, etc.)</p>
            </div>
          </div>
        </div>
        }

        <label [for]="checkoutDrawer" aria-label="open sidebar" class="btn btn-square btn-ghost text-2xl">
          <div class="indicator">
            @if (numItems > 0) {
            <p class="indicator-item badge badge-xs badge-warning rounded-full">
              <b>{{ numItems }}</b>
            </p>
            }
            <a class="link rounded-full text-2xl">
              <fa-icon icon="bag-shopping"></fa-icon>
            </a>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="px-4 lg:hidden">
  <div class="flex justify-between items-center pb-2">
    <div class="flex-1">
      <a class="link flex items-center justify-between w-fit" style="text-decoration: none;" (click)="openDialog()">
        @if (deliverySettings.address) {
        <div class="flex text-left items-center">
          <fa-icon class="text-xl rounded-full mr-4" icon="location-dot"></fa-icon>

          <div class="flex flex-col text-left">
            <p class="text-lg font-medium">{{ deliverySettings.address.addressLine }}</p>
            @if (deliverySettings.timeslot) {
            <p class="text-xs font-thin">{{ deliveryMode?.label }} Time: <b>{{
                deliverySettings.timeslot.label }}</b></p>
            }
          </div>
        </div>

        <fa-icon icon="angle-down" class="pl-2"></fa-icon>
        }
        @else {
        <div class="flex text-left">
          <fa-icon class="text-xl rounded-full mr-4" icon="location-dot"></fa-icon>
          <p class="text-lg font-medium">Enter Address</p>
        </div>

        <fa-icon icon="angle-down" class="pl-2"></fa-icon>
        }
      </a>
    </div>

    <delivery-switch />
  </div>

  <search-bar />
</div>