<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/shop">
        <fa-icon icon="arrow-left"></fa-icon> Back to store
      </a>
      <label class="flex items-center gap-2 text-4xl font-mono lg:hidden">
        <fa-icon icon="bag-shopping"></fa-icon> Checkout
      </label>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="bg-base-300 h-2 my-2"></div>

@if (numItems == 0) {
<div class="flex flex-col items-center justify-center text-center py-32">
  <!-- Cart Icon -->
  <div class="rounded-full bg-gray-100 p-6 mb-5">
    <svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
      </path>
    </svg>
  </div>

  <!-- Message -->
  <h2 class="text-2xl font-semibold text-gray-900">Your cart is empty</h2>
  <p class="text-gray-500 mt-2 mb-6 max-w-sm">Looks like you haven't added any items to your cart yet.</p>

  <!-- Action Button -->
  <a routerLink="/shop" class="btn btn-info text-white">
    Start Shopping
  </a>
</div>
}
@else {
<div class="flex justify-center lg:hidden">
  <ul class="timeline">
    <li>
      <div class="timeline-start">
        <button [class]="'btn ' + (isPlacingOrder == false ? 'btn-neutral' : 'btn-sm')"
          (click)="isPlacingOrder=false;">Confirm Details</button>
      </div>
      <div class="timeline-middle">
        <fa-icon [class]="!isPlacingOrder ? 'text-lg' : 'text-neutral-500'" icon="circle-dot"></fa-icon>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-start">
        <button [class]="'btn ' + (isPlacingOrder == true ? 'btn-neutral' : 'btn-disabled btn-sm')">Place Order</button>
      </div>
      <div class="timeline-middle">
        <fa-icon [class]="isPlacingOrder ? 'text-lg' : 'text-neutral-500'" icon="circle-dot"></fa-icon>
      </div>
    </li>
  </ul>
</div>

<div class="flex justify-center p-4 lg:hidden">
  <div class="flex flex-col gap-4 w-full">
    @if (!isPlacingOrder) {
    <checkout-details />
    <button tabindex="0" class="btn btn-neutral btn-lg w-full" (click)="next()">Next</button>
    }
    @else {
    <div class="bg-base-200 rounded-box shadow-lg p-6">
      <input-coupon />
    </div>

    <checkout-cart />

    <div class="bg-base-200 rounded-box shadow-lg p-6">
      <h1 class="text-xl font-medium">Order Total</h1>

      <div class="p-2">
        <receipt></receipt>
      </div>
    </div>

    <div class="grid gap-2">
      <button tabindex="0" class="btn btn-warning btn-lg font-bold w-full" (click)="placeOrder()">
        {{ isLoggedIn ? 'Place Order' : 'Login to Place Order' }}
      </button>
      <button class="btn btn-soft btn-lg w-full" (click)="isPlacingOrder=false;">Back</button>
    </div>
    }
  </div>
</div>

<div class="flex w-full justify-items-center hidden lg:block p-16">
  <div class="flex gap-4 w-fit">
    <div class="flex flex-col gap-4 flex-2">
      <checkout-details />

      <checkout-cart />
    </div>

    <div class="flex flex-col gap-4 w-fit flex-1">
      <div class="bg-base-200 rounded-box shadow-lg p-6">
        <input-coupon />
      </div>

      <div class="bg-base-200 rounded-box shadow-lg p-6">
        <h1 class="text-xl font-medium">Order Total</h1>

        <div class="flex flex-col gap-1 p-2">
          <receipt></receipt>
        </div>
      </div>

      <footer>
        <button class="btn btn-warning btn-lg font-bold w-full" (click)="placeOrder()">
          {{ isLoggedIn ? 'Place Order' : 'Login to Place Order' }}
        </button>
      </footer>
    </div>
  </div>
</div>
}