<div class="grid h-[95vh] w-full gap-6 grid-rows-[auto_1fr_auto] p-2">
    <!-- Header -->
    <header class="flex flex-col gap-2">
        @if (user.userRole == userRole.Guest) {
        <button class="btn btn-neutral btn-lg lg:btn-xl font-mono" (click)="login()">Login</button>
        <button class="btn btn-soft btn-lg lg:btn-xl font-mono" (click)="signUp()">Sign Up</button>
        }
        @else {
        <div class="flex gap-4 items-center">
            <div class="avatar">
                <div class="w-12 rounded-full">
                    <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                </div>
            </div>

            <div class="flex flex-col">
                <h1 class="text-xl">
                    {{ user.name }}
                    @if (user.verified) {
                    <fa-icon class="text-lg text-info tooltip" data-tip="Verified" icon="check-circle"></fa-icon>
                    }
                </h1>
                <a class="link text-sm text-info" style="text-decoration: none;">Account Settings</a>
            </div>
        </div>
        <div class="divider m-0"></div>
        }
    </header>

    <!-- Main Content Area (stretches) -->
    <main class="flex flex-col gap-4 overflow-y-auto">
        <div class="flex gap-4 ">
            <fa-icon class="text-lg" icon="shop"></fa-icon>
            <a class="link font-bold" style="text-decoration: none;" routerLink="/shop">Shop</a>
        </div>

        @if (user.userRole != userRole.Guest) {
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="receipt"></fa-icon>
            <div class="flex justify-between items-center w-full">
                <a class="link font-bold" style="text-decoration: none;" routerLink="/order-history">
                    Order History
                </a>
                @if (numActiveOrders > 0) {
                <label class="badge badge-xs badge-success text-white">{{ numActiveOrders }} Active</label>
                }
            </div>
        </div>
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="book"></fa-icon>
            <div class="flex justify-between items-center w-full">
                <a class="link font-bold" style="text-decoration: none;" routerLink="/recipe-book">Recipe Book</a>
                @if (user.recipeBook && user.recipeBook.length > 0) {
                <label class="text-sm">{{ user.recipeBook.length }}</label>
                }
            </div>
        </div>
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="s"></fa-icon>
            <div class="flex justify-between items-center w-full">
                <a class="link font-bold" style="text-decoration: none;" routerLink="/subscriptions">Subscriptions</a>
                @if (user.subscriptions && user.subscriptions.length > 0) {
                <label class="text-sm">{{ user.subscriptions.length }}</label>
                }
            </div>
        </div>
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="credit-card"></fa-icon>
            <a class="link font-bold" style="text-decoration: none;">Payment Methods</a>
        </div>
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="heart"></fa-icon>
            <a class="link font-bold" style="text-decoration: none;">Saved</a>
        </div>
        }

        <div class="flex gap-4">
            <fa-icon class="text-lg" icon="briefcase"></fa-icon>
            <div class="flex flex-col">
                <a class="link font-bold" style="text-decoration: none;">Add your Bakery</a>
                <label class="text-xs text-gray-500">
                    Currently doing business with 100+ bakeries in Winnipeg.
                </label>
            </div>
        </div>
        <div class="flex gap-4 items-center">
            <fa-icon class="text-lg" icon="car"></fa-icon>
            <a class="link font-bold" style="text-decoration: none;">Sign up to Deliver</a>
        </div>
    </main>

    <!-- Footer -->
    <footer class="flex gap-2 justify-end p-2">
        <a class="link" routerLink="/">Home</a>
        <a class="link">Contact Us</a>
        @if (user.userRole != userRole.Guest) {
        <a class="link text-error" (click)="logout()">Logout</a>
        }
    </footer>
</div>