<div class="flex flex-col gap-4 p-4">
    <div class="flex gap-4 items-center">
        <img class="w-16 h-16 mask mask-hexagon"
            src="https://img.daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.webp" />

        <div class="flex flex-col">
            @if (user.userRole == userRole.Guest) {
            <a class="link text-info text-lg w-fit" style="text-decoration: none;" (click)="login()">Sign In</a>
            <p class="text-xs">Or</p>
            <a class="link text-info text-lg w-fit" style="text-decoration: none;">Create an Account</a>
            } @else {
            <h1 class="text-xl">
                {{ user.name }}
                @if (user.verified) {
                <fa-icon class="text-sm text-info tooltip" data-tip="Verified" icon="check-circle"></fa-icon>
                }
            </h1>
            <a class="link text-sm text-info">Manage Account</a>
            }
        </div>
    </div>

    <div class="divider"></div>

    @if (user.userRole != userRole.Guest) {
    <div class="flex flex-col gap-6 px-4">
        <div class="flex gap-4 items-center text-lg">
            <fa-icon icon="receipt"></fa-icon>
            <a class="link" style="text-decoration: none;" routerLink="/order-history">Order History</a>
        </div>
        <div class="flex gap-4 items-center text-lg">
            <fa-icon icon="bowl-food"></fa-icon>
            <a class="link" style="text-decoration: none;" routerLink="/recipe-book">Recipe Book {{ user.recipeBook ? ('(' + user.recipeBook.length + ')') : '' }}</a>
        </div>
        <div class="flex gap-4 items-center text-lg">
            <fa-icon icon="credit-card"></fa-icon>
            <a class="link" style="text-decoration: none;">Payment Methods</a>
        </div>
        <div class="flex gap-4 items-center text-lg">
            <fa-icon icon="tag"></fa-icon>
            <a class="link" style="text-decoration: none;">Promotions</a>
        </div>
    </div>

    <div class="divider"></div>
    }

    <div class="flex flex-col gap-6 px-4">
        <div class="flex gap-4 text-lg">
            <fa-icon icon="briefcase"></fa-icon>
            <div class="flex flex-col">
                <a class="link" style="text-decoration: none;">Become a Seller</a>
                <label class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac
                    eros sit amet lo</label>
            </div>
        </div>
        <div class="flex gap-4 text-lg">
            <fa-icon icon="user"></fa-icon>
            <a class="link" style="text-decoration: none;">Sign up as Driver</a>
        </div>
    </div>

    <div class="divider"></div>

    <a class="link text-lg px-4" style="text-decoration: none;">About Us</a>
    <a class="link text-lg px-4" style="text-decoration: none;">Contact Us</a>

    @if (user.userRole != userRole.Guest) {
    <a class="link text-error text-lg px-4" style="text-decoration: none;" (click)="logout()">Sign Out</a>
    }
</div>