<div class="grid h-[95vh] w-full gap-6 grid-rows-[auto_1fr_auto] p-2">
    <!-- Header -->
    <header class="flex flex-col gap-2">
        @if (user.userRole == userRole.Guest) {
        <button class="btn btn-neutral btn-lg lg:btn-xl font-mono" (click)="login()">Login</button>
        <button class="btn btn-soft btn-lg lg:btn-xl font-mono">Sign Up</button>
        }
        @else {
        <div class="flex gap-4 items-center">
            <div class="avatar">
                <div class="w-12 rounded-full">
                    <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                </div>
            </div>

            <div class="flex flex-col">
                <h1 class="text-xl">
                    {{ user.name }}
                    @if (user.verified) {
                    <fa-icon class="text-lg text-info tooltip" data-tip="Verified" icon="check-circle"></fa-icon>
                    }
                </h1>
                <a class="link text-sm text-info" style="text-decoration: none;">Account Settings</a>
            </div>
        </div>
        }
    </header>

    <!-- Main Content Area (stretches) -->
    <main class="flex flex-col gap-1 overflow-y-auto">
        @if (user.userRole != userRole.Guest) {            
        <div class="divider"></div>

        <div class="flex flex-col gap-2">
            <div class="flex gap-4 items-center">
                <fa-icon icon="receipt"></fa-icon>
                <div class="flex justify-between items-center w-full">
                    <a class="link font-bold" style="text-decoration: none;" routerLink="/order-history">Order History</a>
                    <label class="badge badge-xs badge-success text-white">2 Active</label>
                </div>
            </div>
            <div class="flex gap-4 items-center">
                <fa-icon icon="book"></fa-icon>
                <div class="flex justify-between items-center w-full">
                    <a class="link font-bold" style="text-decoration: none;" routerLink="/recipe-book">Recipe Book</a>
                    @if (user.recipeBook && user.recipeBook.length > 0) {
                    <label class="text-sm">{{ user.recipeBook.length }}</label>
                    }
                </div>
            </div>
            <div class="flex gap-4 items-center">
                <fa-icon icon="s"></fa-icon>
                <div class="flex justify-between items-center w-full">
                    <a class="link font-bold" style="text-decoration: none;" routerLink="/subscriptions">Subscriptions</a>
                    @if (user.subscriptions && user.subscriptions.length > 0) {
                    <label class="text-sm">{{ user.subscriptions.length }}</label>
                    }
                </div>
            </div>
            <div class="flex gap-4 items-center">
                <fa-icon icon="credit-card"></fa-icon>
                <a class="link font-bold" style="text-decoration: none;">Payment Methods</a>
            </div>
            <div class="flex gap-4 items-center">
                <fa-icon icon="heart"></fa-icon>
                <a class="link font-bold" style="text-decoration: none;">Saved</a>
            </div>
        </div>

        <div class="divider"></div>
        }

        <div class="flex flex-col gap-2">
            <div class="flex gap-4">
                <fa-icon icon="briefcase"></fa-icon>
                <div class="flex flex-col">
                    <a class="link font-bold" style="text-decoration: none;">Add your Restraunt</a>
                    <label class="text-xs text-gray-500">
                        Currently doing business with 100+ bakeries in Winnipeg.
                    </label>
                </div>
            </div>
            <div class="flex gap-4">
                <fa-icon icon="car"></fa-icon>
                <a class="link font-bold" style="text-decoration: none;">Sign up to Deliver</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="flex flex-col p-2 gap-2">
        <div class="flex gap-2 justify-end">
            <a class="link">About Us</a>
            <a class="link">Contact Us</a>
            @if (user.userRole != userRole.Guest) {
            <a class="link text-error" (click)="logout()">Logout</a>
            }
        </div>
    </footer>
</div>