<page-header page="Order History" icon="receipt"></page-header>

<div class="bg-base-300 h-2 my-2"></div>

<div class="flex flex-col gap-2 lg:justify-center lg:items-center">
  <div class="w-full lg:w-[65vw] lg:shadow-2xl">
    <div class="flex flex-col w-full p-4">
      <h1 class="text-xl font-bold">Your Orders:</h1>

      @if (filters.length > 0) {
      <div class="flex overflow-x-auto">
        <ul class="menu menu-horizontal min-w-max items-center gap-2">
          <li>
            <a [class]="(currentFilter == undefined ? 'menu-active text-lg' : 'bg-base-300')"
              (click)="onSelectFilter(undefined)">
              All (4)
            </a>
          </li>
          @for (filter of filters; track $index) {
          <li [class]="(!user.orders || user.orders.length == 0) ? 'menu-disabled' : ''">
            <a [class]="(filter == currentFilter ? 'menu-active text-lg' : 'bg-base-300')"
              (click)="onSelectFilter(filter)">
              {{ filter }} (4)
            </a>
          </li>
          }
        </ul>
      </div>
      }
    </div>

    @if (user.orders && user.orders.length > 0) {
    <div class="bg-base-300 h-2"></div>

    <div class="flex flex-col justify-center">
      @for (order of user.orders; track $index) {
      <div class="flex flex-col gap-4 w-full p-4">
        <div class="flex flex-col gap-4">
          <div class="flex justify-between items-center">
            <div class="flex flex-col">
              <p class="font-medium">
                {{ order.date | date:'fullDate' }}
              </p>
              <p class="text-gray-500 text-sm">
                {{ order.date | date:'shortTime' }}
              </p>
              <p class="text-gray-500">
                @if (order.deliveryType == undefined) {
                <fa-icon icon="person-walking-luggage"></fa-icon>&nbsp;<b>Pickup</b>: {{ order.address.addressLine }}
                } @else {
                <fa-icon icon="car-side"></fa-icon>&nbsp;<b>Delivery</b>
                }
              </p>
            </div>

            <span class="text-xs label font-bold">#{{ ($index + 1) | number: '4.0-0' | noComma }}</span>
          </div>

          <div class="bg-base-100 w-full">
            <div class="flex flex-col gap-4">
              <div class="flex justify-between items-center w-full bg-base-200 p-4">
                <div class="flex gap-6">
                  <div class="flex flex-col">
                    <p class="label">Items:</p>
                    <p class="text-lg font-bold">{{ numItems(order.cart) }}</p>
                  </div>
                  <div class="flex flex-col">
                    <p class="label">Order Total:</p>
                    <p class="text-lg font-bold">${{ checkoutPrice(order) | number: '1.2-2' }}</p>
                  </div>
                </div>

                <div class="flex flex-col items-end">
                  <!-- In Progress -->
                  @if (order.completionTime == undefined) {
                  <!-- Delivery In Progress -->
                  @if (order.deliveryType != undefined) {
                  <span class="text-neutral font-bold">
                    <span class="loading loading-dots"></span> IN PROGRESS
                  </span>

                  @if (order.estimatedTime != undefined) {
                  @let days = order.estimatedTime < CurrentTime ? formatTime(CurrentTime - order.estimatedTime).days : 0;
                  <p class="text-right">
                    @if (days > 0) {    
                    Estimated Delivery Date:<br/>
                    {{ order.estimatedTime | date:'mediumDate' }} &bull; {{ order.estimatedTime | date:'h a' }}
                    } @else { 
                    Estimated Time:<br/>
                    <b class="font-medium">
                      <countdown [targetDate]="order.estimatedTime" (onDelay)="onDeliveryDelayed(order)"></countdown>
                      {{ order.isDelayed ? '(delayed)' : '' }}
                    </b>
                    }
                  </p>
                  }
                  }
                  <!-- Pickup -->
                  @else {
                  <!-- Pickup Is Ready -->
                  @if (order.estimatedTime != undefined && order.estimatedTime < CurrentTime) {
                  <span class="badge badge-soft badge-warning p-1 font-bold">
                    <fa-icon icon="thumbs-up"></fa-icon> PICKUP READY
                  </span>

                  @let days = order.estimatedTime < CurrentTime ? formatTime(CurrentTime - order.estimatedTime).days : 0;
                  <p class="font-medium text-right">
                    @if (days > 0) {
                    {{ order.estimatedTime | date:'mediumDate' }} &bull; {{ order.estimatedTime | date:'h:mm a' }}
                    } @else {
                    {{ order.estimatedTime | date:'h:mm a' }}
                    }
                  </p>
                  }
                  <!-- Pickup In Progress -->
                  @else {
                  <span class="text-neutral font-bold">
                    <span class="loading loading-dots"></span> IN PROGRESS
                  </span>

                  @if (order.estimatedTime != undefined) {
                  @let days = order.estimatedTime < CurrentTime ? formatTime(CurrentTime - order.estimatedTime).days : 0;
                  <p class="text-right">
                    Pickup Ready by:&nbsp;
                    @if (days > 0) {
                    <br/>
                    <b class="font-medium">{{ order.estimatedTime | date:'mediumDate' }} &bull; {{ order.estimatedTime | date:'h:mm a' }}</b>
                    } @else {
                    <b class="font-medium">{{ order.estimatedTime | date:'h:mm a' }}</b>
                    }
                  </p>
                  }
                  }
                  }
                  }
                  <!-- Complete -->
                  @else {
                  <!-- Delivery Complete -->
                  @if (order.deliveryType != undefined) {
                  <span class="badge badge-soft badge-success p-1 font-bold">
                    <fa-icon icon="check-circle"></fa-icon> DELIVERED
                  </span>
                  }
                  <!-- Pickup Complete -->
                  @else {
                  <span class="badge badge-soft badge-warning p-1 font-bold">
                    <fa-icon icon="check-circle"></fa-icon> PICKUP CONFIRMED
                  </span>
                  }

                  @let days = order.completionTime < CurrentTime ? formatTime(CurrentTime - order.completionTime).days : 0;
                  <p class="font-bold text-right">
                    @if (days > 0) {
                    {{ order.completionTime | date:'mediumDate' }} &bull; {{ order.completionTime | date:'h:mm a' }}
                    } @else {
                    {{ order.completionTime | date:'h:mm a' }}
                    }
                  </p>
                  }
                </div>
              </div>

              <div class="overflow-y-auto max-h-56 lg:h-full">
                <order-items [order]="order" [hidePrice]="true"></order-items>
              </div>
            </div>
          </div>
          <div class="flex gap-2 justify-end p-2">
            @if (order.deliveryType != undefined && order.completionTime == undefined) {
            <button class="btn btn-sm btn-success rounded-full text-white">Track Order</button>
            } @else {
            <button class="btn btn-sm btn-neutral btn-soft rounded-full">Reorder</button>
            }

            <button class="btn btn-sm btn-neutral btn-soft rounded-full"
              [routerLink]="['/view-receipt', { date: order.date }]">Order Details
            </button>
          </div>
        </div>
      </div>

      <div class="bg-base-300 h-2"></div>
      }
    </div>
    }
    @else {
    <div class="flex items-center py-12 px-8">
      <div class="container flex flex-col md:flex-row items-center justify-center  text-gray-700">
        <div class="flex flex-col">
          <h1 class="text-3xl font-dark font-bold">No Past Orders!</h1>
          <p class="text-xl lg:text-2xl font-light leading-normal">We couldn't find any orders on this account.</p>
          <br />

          <p class="label">Links:</p>
          <div class="flex gap-1 flex-wrap">
            <button class="btn btn-primary rounded-box" routerLink="/shop">Shop</button>
            <button class="btn btn-primary rounded-box"
              [routerLink]="['/shop', { category: 'Marketplace' }]">Marketplace</button>
            <button class="btn btn-error text-white rounded-box" routerLink="/">Get Help</button>
            <button class="btn btn-secondary rounded-box" routerLink="/">Homepage</button>
          </div>
        </div>

        <img class="max-w-sm" src="./assets/images/empty1.png" />
      </div>
    </div>
    }
  </div>
</div>