<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/">
        <fa-icon icon="arrow-left"></fa-icon> Back to store
      </a>
      <label class="flex items-center gap-2 text-4xl font-mono lg:hidden">
        <fa-icon icon="book"></fa-icon> Recipe Book
      </label>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="divider px-4"></div>

@if (filters.length > 0) {
<div class="flex justify-center px-4 lg:hidden">
  <div class="overflow-x-auto">
    <ul class="menu menu-horizontal min-w-max items-center gap-2">
      <li>
        <a [class]="(currentFilter == undefined ? 'menu-active text-lg' : 'bg-base-300')"
          (click)="onSelectFilter(undefined)">
          All (4)
        </a>
      </li>
      @for (filter of filters; track filter) {
      <li>
        <a [class]="(filter == currentFilter ? 'menu-active text-lg' : 'bg-base-300')" (click)="onSelectFilter(filter)">
          {{ filter }} (4)
        </a>
      </li>
      }
    </ul>
  </div>
</div>
<br />
}

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex flex-col gap-2 p-4 items-center">
    <div class="w-full">
      <!-- Page content here -->
      <div class="hidden lg:block">
        <div class="flex items-center gap-4">
          <fa-icon class="text-2xl" icon="book"></fa-icon>
          <h1 class="font-bold text-5xl">Recipe Book</h1>
        </div>
        <div class="divider"></div>
      </div>

      <label class="input w-full mb-6">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow placeholder-gray-500 input-lg" placeholder="Search" />
      </label>

      @if (user.recipeBook && user.recipeBook.length > 0) {
      <div class="flex flex-col gap-4 lg:flex-row lg:flex-wrap justify-center pt-4">
        @for (recipe of user.recipeBook; track recipe) {
        <div class="rounded-box border border-dashed border-2 border-base-content/35 bg-base-200 shadow p-2">
          <div class="flex flex-col gap-2">
            <div class="flex justify-center rounded-box bg-base-300 w-full">
              <img class="max-h-64"
                src="https://images.rawpixel.com/image_png_social_square/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8yMl9iaXJ0aGRheV9jYWtlX2N1dGVfM2RfaXNvbGF0ZWRfb25fd2hpdGVfYmFja19lN2Y5ZWJiYi1kMTE4LTQzZDQtOGQ2Ni02ZDk4YjQyODM5MzkucG5n.png" />
            </div>

            <div class="flex flex-col px-2">
              <div class="flex justify-between items-center">
                <h1 class="font-extrabold text-2xl">{{ recipe.name }}</h1>
                @if (recipe.isPrivate) {
                <span class="badge badge-error badge-soft tooltip" data-tip="This recipe is Private">Private</span>
                }
              </div>
              <h2 class="label text-sm">Create on {{ recipe.date }}</h2>
            </div>

            <div class="rounded-box bg-base-300 flex w-full p-2">
              <div class="grid grow place-items-center">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <th>Type</th>
                      <th class="label">{{ customTypes.get(recipe.type)?.label }}</th>
                    </tr>
                    <tr>
                      <th>Theme</th>
                      <th class="label">{{ getTheme(recipe.recipe) }}</th>
                    </tr>
                    <tr>
                      <th>Layers</th>
                      <th class="label">{{ numLayers(recipe.recipe) }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="divider divider-horizontal"></div>

              <div class="grid grow place-items-center">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <th>Value</th>
                      <th class="label font-extrabold">${{ recipe.value | number: '1.2-2' }}</th>
                    </tr>
                    <tr>
                      <th>Buys</th>
                      <th class="label">
                        {{ recipe.buyHistory.size }}
                        <div class="dropdown dropdown-end">
                          <fa-icon class="link" tabindex="0" role="button" icon="info-circle"></fa-icon>
                          <div tabindex="0" class="card card-sm dropdown-content z-1 w-64 shadow-xl">
                            <div tabindex="0" class="card-body text-wrap bg-neutral text-white rounded-box">
                              <div class="flex justify-between">
                                <h1 class="card-title">Number of Buys</h1>
                                <h1 class="card-title">{{ recipe.buyHistory.size }}</h1>
                              </div>
                              <p>This recipe has been purchased <b>{{ recipe.buyHistory.size }}</b> times by <b>{{
                                  recipe.buyHistory.size }}</b> customers.</p>
                              <p class="label text-wrap">Note: Your recipe has to be published (public) in order for
                                others to view/buy it.</p>
                            </div>
                          </div>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th>Points</th>
                      <th class="label">
                        <fa-icon class="text-warning" icon="coins"></fa-icon> {{ getPoints(recipe) }}
                        <div class="dropdown dropdown-end">
                          <fa-icon class="link" tabindex="0" role="button" icon="info-circle"></fa-icon>
                          <div tabindex="0" class="card card-sm dropdown-content z-1 w-64 shadow-xl">
                            <div tabindex="0" class="card-body text-wrap bg-neutral text-white rounded-box">
                              <div class="flex justify-between">
                                <h1 class="card-title">Points Earned</h1>
                                <h2 class="card-title"><fa-icon class="text-warning" icon="coins"></fa-icon> 0</h2>
                              </div>
                              <p>You have made <b>{{ getPoints(recipe) }} points</b> from this recipe.</p>
                              <p>Each purcahse made (either by You or other Customers) grants you BakeSale points.</p>
                            </div>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br />

          <div class="card-actions justify-end">
            <button class="btn btn-neutral">View item</button>
            <button class="btn btn-neutral" (click)="addToCart(recipe)">Add to cart</button>
            <button class="btn"><fa-icon icon="trash-can"></fa-icon> Delete</button>
          </div>
        </div>
        }
      </div>
      }
      @else {
      <div class="flex flex-col w-full items-center justify-items-center pt-10">
        <h1 class="text-2xl">No recipes found!</h1>
      </div>
      }
    </div>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu min-h-full w-86 text-base-content text-lg">
      <!-- Sidebar content here -->
      <li>
        <a [class]="(currentFilter == undefined ? 'menu-active font-bold' : 'font-light')"
          (click)="onSelectFilter(undefined)">
          All (4)
        </a>
      </li>

      @for (filter of filters; track filter) {
      <li>
        <a [class]="(filter == currentFilter ? 'menu-active font-bold' : 'font-light')"
          (click)="onSelectFilter(filter)">
          {{ filter }} (4)
        </a>
      </li>
      }
    </ul>
  </div>
</div>