<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown dropdown-bottom dropdown-start">
      <div tabindex="0" role="button" class="btn btn-sm m-1"><fa-icon icon="arrow-left"></fa-icon></div>
      <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box w-32 z-50 p-2 shadow-xl">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>

  <div class="navbar-end">
    <div class="flex justify-between items-center gap-2">    
      <div class="flex flex-col items-end">
        <label class="text-gray-500 font-serif text-xs lg:hidden"><b>Bake</b>Sale</label>
        <p class="font-mono text-xl text-nowrap">
          Recipe Book
        </p>
      </div>

      <fa-icon class="text-2xl" icon="book"></fa-icon>
    </div>
  </div>
</div>

<div class="bg-base-300 h-2 my-2"></div>

<div class="flex flex-col gap-2 lg:justify-center lg:items-center">
  <div class="w-full lg:w-[65vw] p-4">
    <div class="flex flex-col gap-2">
      <div class="hidden lg:block">
        <div class="flex items-center gap-2">
          <fa-icon class="text-2xl" icon="book"></fa-icon>
          <h1 class="font-bold text-5xl">Recipe Book</h1>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam ac eros sit amet lorem facilisis vulputate at non dui.
      </p>
    </div>
    <br />

    <label class="input w-full">
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" class="grow placeholder-gray-500 input-lg" placeholder="Search" />
    </label>
  </div>

  <div class="bg-base-300 h-2"></div>

  <div class="w-full lg:w-[65vw] p-4">
    @if (user.recipeBook && user.recipeBook.length > 0) {
    <p class="text-lg"><b>{{ user.recipeBook.length }}</b> {{ user.recipeBook.length == 1 ? 'Recipe' : 'Recipes' }} found</p>
    <br />

    <div class="flex flex-col gap-4 justify-center items-center">
      @for (recipe of user.recipeBook; track $index) {
      <div class="w-full">
        <div class="flex justify-end">
          <i class="label text-sm">Created on {{ recipe.date | date:'mediumDate' }}</i>
        </div>
        <div class="flex flex-col lg:flex-row justify-between rounded-box border border-base-300 bg-base-100 shadow p-2 w-full">
          <div class="flex gap-2">
            <div class="flex justify-center rounded-box bg-base-300 w-28 lg:w-32 h-28 lg:h-32">
              <img src="https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-cake-on-stand-vector-png-image_6946410.png" />
            </div>

            <div class="flex flex-col">
              <p class="label text-sm">
                {{ getTheme(recipe.recipe) }} {{ customTypes.get(recipe.type)?.label }} &bull; <b>${{ recipe.value }}</b>
              </p>
              <a class="link font-extrabold text-2xl w-fit" style="text-decoration: none;" (click)="true">{{ recipe.name }}</a>
            </div>
          </div>
          <br />

          <div class="flex flex-row lg:flex-col gap-1 justify-center">
            <button class="btn btn-neutral btn-soft rounded-full btn-sm px-6">View item</button>
            <button class="btn btn-neutral btn-soft rounded-full btn-sm px-6" (click)="addToCart(recipe)">Add to cart</button>
            <button class="btn btn-error btn-soft rounded-full btn-sm px-6"><fa-icon icon="trash-can"></fa-icon> Delete</button>
          </div>
        </div>
      </div>
      }
    </div>
    }
    @else {
    <div class="py-20 px-4 text-center w-full">
      <fa-icon class="text-6xl text-gray-500" icon="face-grin-tongue"></fa-icon>
      <h1 class="text-4xl font-bold text-gray-500 mb-4">No Recipes Found</h1>
      <p class="text-gray-600 mb-6">
        Looks like your recipe book is empty, lets start chefing some cake recipies!
      </p>
      <!-- CTA Button -->
      <div class="flex flex-wrap gap-2 justify-center">
        <a class="link text-primary">Cake Shop</a>
        <a class="link text-primary">Custom Cake</a>
        <a class="link text-primary">BakeSale Points Program</a>
        <a class="link text-primary">Contact Us</a>
      </div>
    </div>
    }
  </div>
</div>