<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown dropdown-bottom dropdown-start">
      <div tabindex="0" role="button" class="btn btn-sm m-1"><fa-icon icon="arrow-left"></fa-icon></div>
      <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box w-32 z-50 p-2 shadow-xl">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>

  <div class="navbar-end">
    <div class="flex justify-between items-center gap-2">    
      <div class="flex flex-col items-end">
        <label class="text-gray-500 font-serif text-xs lg:hidden"><b>Bake</b>Sale</label>
        <p class="font-mono text-xl text-nowrap">
          Subscriptions
        </p>
      </div>

      <fa-icon class="text-2xl" icon="s"></fa-icon>
    </div>
  </div>
</div>

<div class="bg-base-300 h-2 my-2"></div>

<div class="flex flex-col gap-2 lg:justify-center lg:items-center">
  <div class="w-full lg:w-[65vw] p-4">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <div class="hidden lg:block">
          <div class="flex items-center gap-2">
            <fa-icon class="text-2xl" icon="s"></fa-icon>
            <h1 class="font-bold text-5xl">Subscriptions</h1>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac eros sit amet lorem facilisis vulputate at
          non
          dui.
        </p>
      </div>
      <br />

      @if (user.subscriptions && user.subscriptions.length > 0) {
      <h1 class="text-lg">Upcoming Deliveries:</h1>
      <table class="table bg-base-300">
        <tbody>
          @for (sub of user.subscriptions; track $index) {
          @for (day of sub.days | keyvalue; track $index) {
          <tr>
            <td>
              <div class="flex flex-col">
                <div class="flex justify-between">
                  <p><b>Bread Subscription {{ $index > 0 ? $index : '' }}</b>: {{ sub.date | date }} - {{ day.value.name }}</p>
                </div>
                <p></p>
                <div class="flex gap-2 px-2">
                  <a class="link">View Receipt</a>
                  <a class="link text-error">Cancel this Order</a>
                </div>
              </div>
            </td>
          </tr>
          }
          }
        </tbody>
      </table>
      <br />

      <h1 class="text-lg">Your Subscriptions:</h1>
      <div class="flex flex-col gap-2 rounded-box bg-base-200 border border-base-300 p-2">
        @for (sub of user.subscriptions; track $index) {
        <div class="collapse bg-base-100 border-base-300 border">
          <input type="checkbox" />

          <div class="collapse-title flex justify-between items-center text-xl">
            <div class="flex gap-2 items-center">
              <fa-icon class="text-success" icon="bread-slice"></fa-icon>
              <div class="flex flex-col">
                <h2 class="font-bold">Bread Subscription {{ $index > 0 ? $index : '' }}</h2>
                <p class="text-sm text-gray-500">{{ getTotalItems(getSelectedItems(sub.category)) }} items</p>
              </div>
            </div>
            <p class="font-bold">${{ getTotal(getSelectedItems(sub.category)) | number: '1.2-2' }}</p>
          </div>

          <div class="collapse-content bg-base-300 text-sm">
            <div class="pt-2">
              <h2 class="font-bold">Items:</h2>
              <span class="flex">
                @for (item of getSelectedItems(sub.category); track $index) {
                {{ item.name }}{{ item.amount > 1 ? (' (' + item.amount + ')') : '' }}{{ item != getLastItem(sub) ? ', ' : '' }}
                }
              </span>
              <br />

              <div class="flex gap-4">
                <div class="flex-1 flex flex-col">
                  <h2 class="font-bold">Delivery Days:</h2>
                  <span class="flex">
                    @for (day of sub.days | keyvalue; track $index) {
                    {{ day.value.name }}{{ day.key != getLastDay(sub) ? ', ' : '' }}
                    }
                  </span>
                </div>
                <div class="flex-1 flex flex-col">
                  <h2 class="font-bold">Get it Every:</h2>
                  <p>{{ sub.freq > 1 ? (sub.freq + ' Weeks') : 'Week' }}</p>
                </div>
              </div>
              <br />

              <h2 class="font-bold">Delivery Address:</h2>
              <div class="bg-base-200 rounded-box flex flex-col p-2">
                <p>{{ sub.address!.addressLine }}, {{ sub.address!.province }} {{ sub.address!.postal }}</p>
              </div>
              <br />

              <h2 class="font-bold">Upcoming delivery dates:</h2>
              <div class="bg-base-200 rounded-box flex flex-col p-2">
                <div class="flex flex-col gap-2 font-mono">
                  @for (day of sub.days | keyvalue; track $index) {
                  <p>{{ sub.date | date }} - {{ day.value.name }}</p>
                  }
                  <p>...</p>
                </div>
              </div>
              <br />

              <div class="flex justify-end items-end gap-2">
                <button class="btn btn-neutral" (click)="openChangeSubscriptionDialogDialog(sub)">Change</button>
                <button class="btn" (click)="openOrderSummaryDialog(sub)">View Receipt</button>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      }
      @else {
      <div class="py-20 px-4 text-center w-full">
        <fa-icon class="text-6xl text-gray-500" icon="face-grin-tongue"></fa-icon>
        <h1 class="text-4xl font-bold text-gray-500 mb-4">No Subscriptions Found</h1>
        <p class="text-gray-600 mb-6">
          Looks like you have no current active Subscriptions.
        </p>
        <!-- CTA Button -->
        <div class="flex flex-wrap gap-2 justify-center">
          <a class="link text-primary">Bread Shop</a>
          <a class="link text-primary">Get Fresh Bread Daily</a>
          <a class="link text-primary">BakeSale Points Program</a>
          <a class="link text-primary">Contact Us</a>
        </div>
      </div>
      }
    </div>
  </div>
</div>