<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/order-history">
        <fa-icon icon="arrow-left"></fa-icon> Back to Order History
      </a>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="divider px-4"></div>

@if (order) {
<div class="flex flex-col gap-4 p-4 items-center min-w-full lg:min-w-128">
  <div class="rounded-box bg-base-200 min-w-full lg:min-w-128 p-6">
    @if (order.deliveryType != undefined) {
    <h1 class="font-bold text-xl p-2">Delivery Details:</h1>
    } @else {
    <h1 class="font-bold text-xl p-2">Pickup Details:</h1>
    }

    <table class="table table-zebra">
      <tbody>
        <tr>
          <td>
            <b>Address:</b>
          </td>
          <td>
            <label class="flex flex-col">
              <b>{{ order.address.addressLine }}</b>
              <p class="text-sm">{{ order.address.city }}, {{ order.address.province }} {{
                order.address.postal }}</p>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <b>Time:</b>
          </td>
          <td>
            12:54 am
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rounded-box bg-base-200 min-w-full lg:min-w-128 p-6">
    <div class="flex justify-between p-2">
      <h1 class="font-bold text-xl">Cart Items:</h1>
      <p class="text-xl">{{ totalItems }} items</p>
    </div>
    <order-summary [order]="order" [open]="true"></order-summary>
  </div>

  <div class="rounded-box bg-base-200 min-w-full lg:min-w-128 p-6">
    <h1 class="font-bold text-xl p-2">Order Details:</h1>
    <div class="p-4">
      <order-total [order]="order"></order-total>
    </div>
  </div>

  <div class="rounded-box bg-base-200 min-w-full lg:min-w-128 p-6">
    <h1 class="font-bold text-xl">Payments:</h1>
    <div class="flex justify-between items-center p-4">
      <div class="flex gap-4 text-lg items-center">
        <fa-icon icon="credit-card"></fa-icon>
        <div class="flex flex-col">
          <b>Visa **** {{ order.payment }}</b>
          <p class="label text-sm"><i>15 Jan, 2053</i> at <i>12:45pm</i></p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-4 justify-end min-w-full lg:min-w-128">
    <button class="link">Print</button>
    <button class="link">Send by email</button>
    <button class="link">Get Help</button>
  </div>

  <br />
</div>
}
@else {
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center">
    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">
      404
    </h1>
    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
      Sorry, we can't find the recipt you're looking for.
    </p>
    <br />
    <a href="#" class="btn btn-soft">
      Back to Homepage
    </a>
  </div>
</div>
}