<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/order-history">
        <fa-icon icon="arrow-left"></fa-icon> Back to Order History
      </a>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="bg-base-300 h-2 my-2"></div>

@if (order) {
<div class="flex justify-center w-full p-4">
  <div class="flex flex-col gap-4 w-full lg:w-auto lg:min-w-156">
    <div class="rounded-box bg-base-200 w-full p-6 border border-base-300">
      @if (order.deliveryType != undefined) {
      <h1 class="font-bold text-xl p-2">Delivery Details:</h1>
      } @else {
      <h1 class="font-bold text-xl p-2">Pickup Details:</h1>
      }

      <table class="table">
        <tbody>
          <tr>
            <td>
              <b>Address:</b>
            </td>
            <td>
              {{ printAddress(order.address) }}
            </td>
          </tr>
          <tr>
            <td>
              <b>Order Placed:</b>
            </td>
            <td>
              <p>{{ order.date | date:'fullDate' }} &bull; {{ order.date | date:'h:mm a' }}</p>
            </td>
          </tr>
          @if (order.completionTime != undefined) {
          <tr>
            <td>
              <b>Order Recieved:</b>
            </td>
            <td>
              <div class="flex flex-col gap-2">
                <p>{{ order.completionTime | date:'fullDate' }} &bull; {{ order.completionTime | date:'h:mm a' }}</p>

                @if (order.deliveryType != undefined && order.completionTime != undefined) {
                <a class="shrink-0 link"><img class="w-12 h-12 lg:w-24 lg:h-24 rounded-box border"
                    src="https://onfleet.com/blog/content/images/2020/05/deliverypackage.jpg" /></a>
                }
              </div>
            </td>
          </tr>
          }
          @else {
          <tr>
            <td>
              <b>Order Status:</b>
            </td>
            <td>
              <div class="flex flex-col">
                @let days = order.estimatedTime != undefined ? formatTime(order.date - order.estimatedTime).days : 0;

                <!-- In Progress -->
                <!-- Delivery -->     
                @if (order.deliveryType != undefined) {
                <b>In Progress</b>                
                @if (order.estimatedTime != undefined) {
                <p>Estimated Delivery {{ days > 0 ? 'Date' : 'Time' }}:</p>
                }
                } 
                <!-- Pickup -->
                @else {
                @if (order.estimatedTime != undefined && order.estimatedTime < CurrentTime) {
                <b>Ready For Pickup</b>
                } @else {
                <b>In Progress</b>
                <p>Pickup Ready by:</p>
                }
                }                

                @if (order.estimatedTime != undefined)  {
                @let days2 = order.estimatedTime < CurrentTime ? formatTime(CurrentTime - order.estimatedTime).days : 0;
                @if (days2 > 0) {
                <p class="font-medium">{{ order.estimatedTime | date:'fullDate' }} &bull; {{ order.estimatedTime | date:'h:mm a' }}</p>
                } @else {
                <p class="font-medium">{{ order.estimatedTime | date:'h:mm a' }}</p>
                }
                }
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rounded-box bg-base-200 w-full p-6 border border-base-300">
      <div class="flex justify-between p-2">
        <h1 class="font-bold text-xl">Cart Items:</h1>
        <p class="text-xl">{{ totalItems }} items</p>
      </div>
      <order-items [order]="order"></order-items>
    </div>

    <div class="rounded-box bg-base-200 w-full p-6 border border-base-300">
      <h1 class="font-bold text-xl p-2">Order Details:</h1>
      <div class="p-4">
        <receipt [order]="order"></receipt>
      </div>
    </div>

    <div class="rounded-box bg-base-200 w-full p-6 border border-base-300">
      <h1 class="font-bold text-xl">Payments:</h1>
      <div class="flex justify-between items-center p-4">
        <div class="flex gap-4 text-lg items-center">
          <fa-icon icon="credit-card"></fa-icon>
          <div class="flex flex-col">
            <b>{{ order.payment.type }} **** {{ order.payment.cardNumber ? getLastFourDigits(order.payment.cardNumber) : order.payment.name }}</b>
            <p class="label text-sm"><i>15 Jan, 2053</i> at <i>12:45pm</i></p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-4 justify-end w-full">
      <button class="link">Print</button>
      <button class="link">Send by email</button>
      <button class="link">Get Help</button>
    </div>

    <br />
  </div>
</div>
}
@else {
<div class="flex flex-col items-center justify-center text-center py-32">
  <!-- Cart Icon -->
  <div class="rounded-full bg-gray-100 p-6 mb-5 text-4xl">
    <fa-icon icon="receipt"></fa-icon>
  </div>

  <!-- Message -->
  <h2 class="text-2xl font-semibold text-gray-900">Receipt Not Found</h2>
  <p class="text-gray-500 mt-2 mb-6 max-w-sm">Sorry, we can't find the recipt you're looking for. Please contact us for help regarding an order.</p>

  <!-- Action Button -->
  <a routerLink="/shop" class="btn btn-info text-white">
    Goto Homepage
  </a>
</div>
}