<div class="navbar">
  <div class="flex-none">
    <label [for]="appDrawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
      <div class="indicator">
        @if (user.userRole != userRole.Guest) {
        <p class="indicator-item badge badge-xs badge-success rounded-full">
          <b>2</b>
        </p>
        }

        <fa-icon class="text-xl" icon="bars"></fa-icon>
      </div>
    </label>
  </div>

  <div class="px-2 flex-1">
    <div class="flex justify-between items-center gap-2">
      <app-logo firstName="Bake" lastName="Sale" (click)="onClickHome()" />

      <div class="hidden lg:block">
        <ul class="menu menu-horizontal lg:text-lg">
          @for (entry of categories | keyvalue; track $index) {
          <li>
            <a [class]="getHomeCategory() == entry.key ? 'menu-active' : ''" (click)="setHomeCategory(entry.key);">
              {{ entry.value }}@if (entry.key == homeCategories.Shop){ <fa-icon
                icon="arrow-up-right-from-square"></fa-icon> }
            </a>
          </li>
          }
        </ul>
      </div>

      <div class="flex gap-2 items-center">
        @if (user.userRole == userRole.Guest) {
        <div class="flex gap-2">
          <button class="btn btn-neutral btn-xs lg:btn-md">Login</button>
          <button class="btn btn-soft btn-xs lg:btn-md">Sign Up</button>
        </div>
        }
        @else {
        <button class="btn btn-ghost btn-circle avatar ring ring-2 ring-base-300">
          <div class="w-24 rounded-full">
            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
          </div>
        </button>
        }
      </div>
    </div>
  </div>
</div>

<div class="lg:hidden">
  <div class="bg-base-300 h-2 my-2"></div>

  <div class="flex justify-center px-4">
    <ul class="menu menu-horizontal justify-center">
      @for (entry of categories | keyvalue; track $index) {
      <li>
        <a [class]="getHomeCategory() == entry.key ? 'menu-active' : ''" (click)="setHomeCategory(entry.key);">
          {{ entry.value }}@if (entry.key == homeCategories.Shop){ <fa-icon icon="arrow-up-right-from-square"></fa-icon>
          }
        </a>
      </li>
      }
    </ul>
  </div>
</div>