<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/content">
        <fa-icon icon="arrow-left"></fa-icon> Back to store
      </a>
      <label class="flex items-center gap-2 text-4xl font-mono lg:hidden">
        <fa-icon icon="cake-candles"></fa-icon> Customs Cake
      </label>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="divider px-4"></div>

@if (selectedCategory != category.Setup) {
<div class="flex justify-center">
  <ul class="timeline overflow-x-auto">
    @for (cat of categories | keyvalue; track cat.key) {
    <li>
      @if (cat.key != firstCategory) {
      <hr />
      }

      <div class="timeline-start">
        <button
          [class]="'btn ' + (selectedCategory == cat.key ? 'btn-neutral btn-active btn-lg' : (((cat.key == lastCategory && hasErrors(false))) ? 'btn-disabled' : (hasError(cat.key, cat.value.skipNonSelection) ? 'outline outline-error text-error' : '')))"
          (click)="onSelectCategory(cat.key)">
          {{ cat.value.name }}
        </button>
      </div>
      <div class="timeline-middle">
        <fa-icon
          [class]="selectedCategory == cat.key ? 'text-lg' : (((cat.key == lastCategory && hasErrors(false))) ? 'text-gray-500' : (hasError(cat.key, cat.value.skipNonSelection) ? 'text-error' : ''))"
          icon="circle-dot">
        </fa-icon>
      </div>

      @if (cat.key != lastCategory) {
      <hr />
      }
    </li>
    }
  </ul>
</div>
}

<div class="flex flex-col lg:flex-row flex-col-reverse gap-4 justify-center p-4">
  <div class="flex flex-col gap-2 items-center">
    <div class="w-full lg:max-w-164">
      @if (currentCategory.instructions) {
      <p class="whitespace-pre-line">{{ currentCategory.instructions }}</p>
      <br/>
      }
      
      <!-- Custom options -->
      @switch (selectedCategory) {
      <!-- Cake Setup -->
      @case (category.Setup) {
      <div class="flex flex-col items-center p-4 rounded-box bg-base-300">
        <h1 class="font-bold">Select the type of Cake you want to build:</h1>
        <div class="overflow-x-auto">
          <ul class="menu menu-horizontal gap-2">
            @for (type of customTypes | keyvalue; track type.key) {
            <li>
              <a [class]="(selectedType == type.key ? 'menu-active' : '')" (click)="onCustomTypeChange(type.key)">
                <fa-icon [icon]="type.value.icon" class="text-2xl"></fa-icon>                
                <span>{{ type.value.label }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
      <br />  
      }
      <!-- Layering -->
      @case (category.Layering) {
      @if (numLayers > 1) {
      <div class="tabs tabs-box tabs-lg justify-center">
        @for (layer of layers | keyvalue; track layer.key) {
        <a role="tab" [class]="'tab ' + (selectedLayer==layer.key ? 'tab-active bg-primary text-white font-bold' : '') + ' ' + (hasError(selectedCategory, currentCategory.skipNonSelection, undefined, layer.key) ? 'text-error' : '')"
          (click)="onSelectLayer(layer.key)">
          Layer {{ layer.key }}
        </a>
        }
      </div>
      <br />
      }

      <div role="tablist" class="tabs tabs-border justify-center">
        @for (choice of currentLayer | keyvalue; track choice.key) {
        <a role="tab"
          [class]="'tab ' + (selectedChoice==choice.key ? 'tab-active' : '') + ' ' + (hasError(selectedCategory, currentCategory.skipNonSelection, choice.key) ? 'text-error' : '')"
          (click)="onSelectChoice(choice.key)">
          {{ choice.key.name }}
        </a>
        }
      </div>
      <br />

      <div class="flex flex-col gap-2">
        <item-choice-list class="w-full" [type]="selectedChoice!" [choices]="currentChoice!"></item-choice-list>
      </div>
      <br />
      }
      <!-- Finish -->
      @case (category.Finish) {        
      }
      <!-- Publish -->
      @case (category.Publish) {
      <div class="flex flex-col gap-4">
        <h1 class="font-bold text-xl">Name:</h1>
        <label [class]="'input w-full ' + (recipeNameError ? 'input-error' : '')">
          <input type="search" class="grow placeholder-gray-350 input-lg" placeholder="Enter name of your cake"
            [(ngModel)]="recipeName" (change)="recipeNameError=undefined" />
        </label>
        @if (recipeNameError) {
        <p class="text-right text-error">{{ recipeNameError }}</p>
        }
      </div>
      <br />

      <div class="flex flex-col gap-4">
        <h1 class="font-bold text-xl">Description:</h1>
        <fieldset class="fieldset">
          <textarea class="textarea placeholder-gray-350 h-24 w-full" placeholder="Enter a description for your recipe"
            [(ngModel)]="recipeDescription"></textarea>
          <label class="label justify-end w-full">Optional</label>
        </fieldset>
      </div>
      <br />

      <div class="flex justify-between gap-2">
        <h1 class="font-bold text-xl">Publish Recipe:</h1>
        <fieldset class="fieldset flex-1 flex flex-col items-end">
          <input type="checkbox" class="toggle" [(ngModel)]="publicRecipe" />
          <label class="text-right">
            Other people can view/buy your recipe when its public (each buy gets you BakeSale points).
          </label>
        </fieldset>
      </div>
      <br />
      }
      }

      <!-- Choice list -->
      @if (selectedCategory != category.Layering) {
      <div class="flex flex-col gap-2">
        @for (entry of currentCategory.choices | keyvalue; track entry.key) {
        <item-choice-list class="w-full" [type]="entry.key" [choices]="entry.value"></item-choice-list>
        }
      </div>
      <br />
      }

      <!-- Finish -->
      @if (selectedCategory == category.Finish) {
      <div class="flex flex-col gap-4 px-2">
        <h1 class="text-lg">Special Instructions:</h1>
        <fieldset class="fieldset">
          <input type="search" class="input placeholder-gray-350 input-lg w-full"
            placeholder="Enter additional instructions for finish" [(ngModel)]="recipeInstructions" />
          <label class="label justify-end w-full">Optional</label>
        </fieldset>
      </div>
      <br />
      }

      <!-- Buttons -->
      <footer class="flex flex-col gap-2 w-full">
        @for (buttons of currentCategory.buttons; track buttons) {
        @switch (buttons.type) {
        @case (buttonType.Finish) {
        <button [class]="'btn btn-lg w-full btn-warning ' + (!hasEnoughPoints ? 'btn-disabled' : '')" (click)="next()">
          {{ publicRecipe ? 'Publish Recipe' : 'Create Recipe' }} (<fa-icon icon="coins"></fa-icon> {{ requiredPoints }})
        </button>
        @if (!hasEnoughPoints) {
        <label class="text-error text-center w-full">You don't have enough points</label>
        }
        }
        @case (buttonType.Next) {
        <button class="btn btn-lg w-full btn-neutral" (click)="next()">{{ buttons.name }}</button>
        }
        @case (buttonType.Back) {
        <button class="btn btn-lg w-full bg-base-100" (click)="back()">{{ buttons.name }}</button>
        }
        @default {
        <button class="btn btn-lg w-full bg-base-100">{{ buttons.name }}</button>
        }
        }
        }
      </footer>
    </div>
  </div>

  @if (selectedCategory != category.Setup) {
  <div class="flex flex-col w-full lg:max-w-128">
    <div class="indicator flex flex-col w-fit">
      <div class="flex justify-center border border-2 border-base-content/20 bg-base-300 w-full">
        <img class="rounded-box max-h-98"
          src="https://images.rawpixel.com/image_png_social_square/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8yMl9iaXJ0aGRheV9jYWtlX2N1dGVfM2RfaXNvbGF0ZWRfb25fd2hpdGVfYmFja19lN2Y5ZWJiYi1kMTE4LTQzZDQtOGQ2Ni02ZDk4YjQyODM5MzkucG5n.png" />
      </div>

      <div class="indicator-item indicator-bottom indicator-end text-right"
        style="--indicator-x: -0.5em; --indicator-y: -0.5em;">
        <p>{{ theme }} {{ type?.label }}</p>
        <p class="font-bold">Value: $50</p>
      </div>

      <div class="indicator-item indicator-top indicator-start " style="--indicator-x: 1.0em; --indicator-y: 0.5em;">
        @for (layer of layers | keyvalue; track layer.key) {
        <div class="collapse collapse-sm ">
          <input type="radio" name="layer-accordion" [checked]="selectedLayer==layer.key" />
          <div class="collapse-title font-semibold p-0">Layer {{ layer.key }}</div>
          <div class="collapse-content text-xs px-1 w-64">
            <item-choice-catalog [value]="layer.value"></item-choice-catalog>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>