<div class="navbar">
  <div class="navbar-start">
    <div class="flex flex-col p-4 gap-2">
      <a class="link text-lg font-mono px-2" style="text-decoration: none" routerLink="/">
        <fa-icon icon="arrow-left"></fa-icon> Back to Store
      </a>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>
</div>

<div class="divider px-4"></div>

@if (category) {
<div class="flex justify-center w-full p-4">
  <div class="flex flex-col gap-4 w-full lg:w-auto lg:max-w-168">
    <h1 class="text-xl font-bold">Subscribe for fresh Bread Delivery</h1>
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac eros sit amet lorem facilisis vulputate at non
      dui.
      Aenean tempus ligula nec suscipit venenatis. Fusce luctus ipsum diam, aliquet dictum ligula imperdiet et.
      In lectus velit, semper ut iaculis vel, congue nec ipsum.
    </p>

    <subscribe-item-list [category]="category" [error]="selectedItemsError" [background]="true" [maxHeight]="156"
      (change)="selectedItemsError=undefined;"></subscribe-item-list>

    @if (!setupDelivery) {
    <button class="btn btn-neutral w-full" (click)="proceed()">Setup Delivery <fa-icon
        icon="arrow-down"></fa-icon></button>
    }
    @else {
    <div class="divider label">Delivery Settings</div>
    <div [class]="'rounded-box ' + (selectedDeliveryDaysError ? 'border border-error' : '')">
      <table class="table bg-base-200 border border-base-300">
        <thead>
          <tr class="bg-base-100 text-wrap">
            <th>
              <p class="text-xl">Select delivery days:</p>
              @if (selectedDeliveryDaysError) {
              <span class="flex gap-1 items-center text-xs text-error">
                <fa-icon icon="exclamation-circle"></fa-icon>
                <p>{{ selectedDeliveryDaysError }}</p>
              </span>
              }
              @else {
              <p class="label text-xs">Choose upto {{ numDaysLimit }} days</p>
              }
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="flex flex-wrap gap-2">
                @for (day of daysOfWeekSetting | keyvalue; track day.key) {
                <div class="rounded-box bg-base-100 border border-base-300 p-4">
                  <label class="cursor-pointer flex items-center gap-2">
                    <input type="checkbox" class="checkbox"
                      [disabled]="day.value.checked == false && numDays >= numDaysLimit" [(ngModel)]="day.value.checked"
                      (change)="onDaysChange()" />
                    <span
                      [class]="(day.value.checked == false && numDays >= numDaysLimit) ? 'text-gray-300' : (day.value.checked == true ? 'font-bold' : '')">
                      {{ day.value.name }}
                    </span>
                  </label>
                </div>
                }
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="table bg-base-200 border border-base-300">
      <thead>
        <tr class="bg-base-100 text-wrap">
          <th>
            <p class="text-xl">Select frequency of deliveries:</p>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (freq of deliveryFrequencies; track freq) {
        <tr>
          <td>
            <label class="cursor-pointer flex justify-between items-center gap-2">
              <span class="label-text font-normal">Every {{ freq }} week</span>
              <input type="radio" name="type" class="radio" checked="false" [value]="freq"
                [(ngModel)]="selectedDeliveryFrequency" />
            </label>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <button class="btn btn-neutral w-full" (click)="proceed()">View Subscription</button>
    }
  </div>
</div>
}
@else {
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center">
    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">
      404
    </h1>
    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
      Sorry, we can't find the item you're looking for.
    </p>
    <br />
    <a href="#" class="btn btn-soft">
      Back to Homepage
    </a>
  </div>
</div>
}
<br />