<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown dropdown-bottom dropdown-start">
      <div tabindex="0" role="button" class="btn btn-sm m-1"><fa-icon icon="arrow-left"></fa-icon></div>
      <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box w-32 z-50 p-2 shadow-xl">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-center hidden lg:block">
    <a class="link text-4xl font-serif p-2" style="text-decoration: none" routerLink="/">
      <b>Bake</b>Sale
    </a>
  </div>

  <div class="navbar-end">
    <div class="flex justify-between items-center gap-2">    
      <div class="flex flex-col items-end">
        <label class="text-gray-500 font-serif text-xs lg:hidden"><b>Bake</b>Sale</label>
        <p class="font-mono text-xl text-nowrap">
          Daily Bread
        </p>
      </div>

      <fa-icon class="text-2xl" icon="bread-slice"></fa-icon>
    </div>
  </div>
</div>

<div class="divider px-4"></div>

@if (category) {
<div class="flex flex-col items-center">
  <div class="flex flex-col items-center w-full lg:w-auto lg:max-w-168 lg:shadow-2xl">
    <div class="flex flex-col gap-4 p-4">
      <h1 class="text-xl font-bold">Subscribe for fresh Bread Delivery</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac eros sit amet lorem facilisis vulputate at
        non
        dui.
        Aenean tempus ligula nec suscipit venenatis. Fusce luctus ipsum diam, aliquet dictum ligula imperdiet et.
        In lectus velit, semper ut iaculis vel, congue nec ipsum.
      </p>

      <subscribe-item-list [category]="category" [error]="selectedItemsError" [maxHeight]="156"
        (change)="selectedItemsError=undefined;"></subscribe-item-list>
    </div>

    <div class="bg-base-300 h-2 w-full"></div>

    <div class="flex flex-col gap-4 w-full p-4">
      <div class="flex flex-col">
        <div class="flex justify-between items-center gap-2 pb-1">
          <h1 class="text-lg font-semibold">Select delivery days:</h1>

          @if (selectedDeliveryDaysError) {
          <p class="badge badge-soft badge-error px-1">
            <fa-icon icon="exclamation-circle"></fa-icon> {{ selectedDeliveryDaysError }}
          </p>
          }
          @else {
          <i class="label">Choose upto {{ numDaysLimit }} days</i>
          }
        </div>

        <table class="table">
          <tbody>
            @for (day of daysOfWeekSetting | keyvalue; track day.key) {
            <tr>
              <td>
                <label class="cursor-pointer flex justify-between items-center gap-2">
                  <span
                    [class]="(day.value.checked == false && numDays >= numDaysLimit) ? 'text-gray-300' : (day.value.checked == true ? 'font-bold' : '')">
                    {{ day.value.name }}
                  </span>
                  <input type="checkbox" class="checkbox"
                    [disabled]="day.value.checked == false && numDays >= numDaysLimit" [(ngModel)]="day.value.checked"
                    (change)="onDaysChange()" />
                </label>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="bg-base-300 h-2 w-full"></div>

    <div class="flex flex-col gap-4 w-full p-4">
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold pb-1">Get it Every:</h1>

        <table class="table">
          <tbody>
            @for (freq of deliveryFrequencies; track freq) {
            <tr>
              <td>
                <label class="cursor-pointer flex justify-between items-center gap-2">
                  <span class="label-text font-normal">{{ freq }} {{ freq > 1 ? 'weeks' : 'week' }}</span>
                  <input type="radio" name="type" class="radio" checked="false" [value]="freq"
                    [(ngModel)]="selectedDeliveryFrequency" />
                </label>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <button class="btn btn-lg btn-neutral w-full" (click)="proceed()">View Subscription</button>
    </div>
  </div>
</div>
}
@else {
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center">
    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">
      404
    </h1>
    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
      Sorry, we can't find the item you're looking for.
    </p>
    <br />
    <a href="#" class="btn btn-soft">
      Back to Homepage
    </a>
  </div>
</div>
}
<br />